slides > slide {
  background: linear-gradient(#ffffff, #ffffff 85%, #ffffff);
  background-color: white;
}


#notes {
  color: #377eb8;
}


#highlights {
  color: #e41a1c;
}

del {
  color: #e41a1c;
  text-decoration: none;
}

strong {
  color: #377eb8;
<<<<<<< HEAD
}
=======
}
>>>>>>> bd1cd0e1b3e52af2a809aadbd7ecf825f8dcee26
